<h1>Create Category</h1>
<%=form_for @category do |f|%>
  <div class="form-group">
    <%=f.label :title%>
    <%=f.text_field :title, class: "form-control"%>
  </div>

  <div>
    <%=f.submit "Create", class: "btn btn-primary"%>
  </div>
 <%end%> 